.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.numbers-down{
  display:flex; 
  flex-direction: row;
  justify-content: center;
  margin-left:40px;
}

.numbers-down h2{
  width: 50px;
}